.container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-roboto-condensed);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.4px;
}

.image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
