.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2px;
}

.navigationButton {
    background-color: var(--color-white);
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButton:active {
    background-color: var(--color-border);
}

.slide {
    overflow: hidden;
    margin-top: 20px;
}

.offset {
    display: flex;
    gap: 40px;
    transition: transform 0.4s ease;
    will-change: transform;
}
