.container {
    position: absolute;
    background: var(--color-white);
    z-index: 1;
    height: max-content;
    border: 1px solid var(--color-darkest);
    width: 240px;
}

.menuCategories,
.menuPages{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-darkest);
}

.socialIcons {
    display: flex;
    padding: 5px 0;

    a {
        padding: 10px 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menuItem {
    padding: 8px 20px;
    font-family: var(--font-roboto-condensed);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.3px;

    &:hover {
        background-color: var(--color-border);
    }
}
