.container {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-darkest);
    padding: 15px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 740px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}

.title {
    font-family: var(--font-roboto-condensed);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.2px;

    @media (min-width: 740px) {
        font-size: 16px;
    }
}

.postLink {
    font-family: var(--font-roboto);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.4px;

    @media (min-width: 740px) {
        font-size: 16px;
    }
}
